[submodule "bundle/jedi-vim"]
	path = /home/tliebscher/.vim/bundle/jedi-vim
	url = git://github.com/davidhalter/jedi-vim.git
[submodule "/home/tliebscher/.vim/bundle/colorschemes"]
	path = /home/tliebscher/.vim/bundle/colorschemes
	url = https://github.com/flazz/vim-colorschemes.git
